.idea/*
*.log
.settings/
.pydevproject
.project
.externalToolBuilders/
.temp
.idea*
.coverage*
htmlcov
coverage.xml
*.pyc
*~
*.swp
debug.log
netconf.log
protocol.log
myenv
mypython
mypython3
py2env
py3env
v/
gittmp*/
.DS_Store
gen-api/
*.sublime-project
*.sublime-workspace
*.idea
